.backcolor{
    background-color: darkblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(darkblue, blueviolet);
    height: 500px;
}

.colorwhite{
    color:white;
}

.tablecolor{
    background-color: yellow;
    border-style: solid;
    border-color: orange;
    border-width: 10px;
}

.button1{
    color:white;
    background-color:blue;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

.button2{
    color:white;
    background-color:rgb(54, 215, 54);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

.button3{
    color:white;
    background-color:crimson;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

.button4{
    color:white;
    background-color:rgb(202, 31, 171);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.aboutcolor{
    background-color:aqua; /* For browsers that do not support gradients */
    background-image: linear-gradient(blue, aqua);
    border-radius: 15%;
    height: 200px;
    width: 750px;
}

.tableproject{
    background-color: yellow;
    height: 200;
    width: 750;
    border-style: solid;
    border-color: orange;
    border-width: 10px; 
}