.backcolor{
    position: relative;
    background-color: darkblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(darkblue, rgb(78, 13, 115));
    height: 100%;
}

.star{
    background-color: darkblue;
    background-image: url(./images/back.png);
    width: 100%;
    background-size: 50%;
}

.colorwhite{
    color:white;
}

.maincolor{
    color: #040404;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.versioncolor{
    background-color:rgb(54, 215, 54);
    text-align: center;
    text-decoration: none;
    font-size: large;
    color: white;
    padding: 20px;
    border-radius: 50%;
}

.maincolor2{
    color: #040404;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.tablecolor{
    background-color: yellow;
    border-style: solid;
    border-color: orange;
    border-width: 10px;
    width: 450px;
    height: 500px;
}

.button1{
    color:white;
    background-color:blue;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

.button2{
    color:white;
    background-color:rgb(54, 215, 54);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

.button3{
    color:white;
    background-color:crimson;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

.button4{
    color:white;
    background-color:rgb(202, 31, 171);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.aboutcolor{
    background-color:aqua; /* For browsers that do not support gradients */
    background-image: linear-gradient(blue, rgb(13, 226, 133));
    padding: 35px;
    border-radius: 35px;
    height: 200px;
    width: 750px;
}

.abouttext {
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.tableproject{
    background-color: yellow;
    height: 500px;
    width: 650px;
    border-style: solid;
    border-color:darkorange;
    border-width: 30px; 
}

.element {
    position: relative;
    background: darkorange;
    margin: 20px auto;
    padding: 20px;
    height: 700px;
    width: 650px;
  }

.element1 {
    position: relative;
    background: yellow;
    margin: 20px auto;
    padding: 20px;
    height: 650px;
    width: 575px;
}

.pdivider {
    position: relative;
    background: black;
    margin: 10px auto;
    padding: 10px;
    height: 5px;
    width: 500px;   
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    grid-gap: 4px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 85%;
    grid-gap: 4px;
}

.tower1 {
    position: relative;
    top: 50px;
    right: -70px;
    background-image: linear-gradient(yellow, orange);
    /*margin: 20px auto;*/
    border-style: solid;
    border-color: darkorange;
    border-width: 25px;
    padding: 20px;
    height: 525px;
    width: 415px;
  }

  .tower2 {
    position:relative;
    top: -125px;
    right: -680px;
    background-image: linear-gradient(yellow, orange);
    /*margin: 20px auto;*/
    border-style: solid;
    border-color: darkorange;
    border-width: 25px;
    padding: 20px;
    height: 450px;
    width: 415px;
  }

  .tower3 {
    position:relative;
    top: -450px;
    right: -300px;
    background-image: linear-gradient(yellow, orange);
    /*margin: 20px auto;*/
    border-style: solid;
    border-color: darkorange;
    border-width: 25px;
    padding: 20px;
    height: 280px;
    width: 350px;
  }

  .tower4 {
    position:relative;
    top: 160px;
    right: -200px;
    /*background: yellow;*/
    background-image: linear-gradient(yellow, orange);
    /*margin: 20px auto;*/
    border-style: solid;
    border-color: darkorange;
    border-width: 25px;
    padding: 20px;
    height: 240px;
    width: 350px;
  }

  .tower5 {
    position:relative;
    top: -700px;
    right: -120px;
    background-image: linear-gradient(yellow, orange);
    /*margin: 20px auto;*/
    border-style: solid;
    border-color: darkorange;
    border-width: 25px;
    padding: 20px;
    height: 140px;
    width: 300px;
  }

  .mainline {
    position:relative;
    background: darkorange;
    /*margin: 20px auto;*/
    height: 20px;
    width: 405px;
  }

  .base {
    position: relative;
    background: #040404;
    padding: 20px;
    height: 50px;
    width: 97%;
  }

.block {
    position: relative;
    background: darkorange;
    margin: 20px auto;
    padding: 20px;
    height: 250px;
    width: 450px;
  }

.block1 {
    position: relative;
    background: yellow;
    margin: 20px auto;
    padding: 20px;
    height: 150px;
    width: 400px;
}

.abouttable{
    width: 75%;
    border-spacing: 50px;
}

.aboutt1 {
    position: relative;
    background-color:rgb(246, 6, 98); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(246, 6, 98), rgb(247, 227, 12));
    margin: 10px auto;
    padding: 20px;
    height: 250px;
    width: 400px;   
}

.aboutt2 {
    position: relative;
    background-color:rgb(246, 62, 6); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(246, 62, 6), rgb(247, 227, 12));
    margin: 10px auto;
    padding: 20px;
    height: 250px;
    width: 415px;
}

.aboutt3 {
    position: relative;
    background-color:rgb(246, 134, 6); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(246, 134, 6), rgb(247, 227, 12));
    margin: 10px auto;
    padding: 20px;
    height: 250px;
    width: 430px;
}

.test{
    display: flex;
}

.spotlight {
    position: relative;
    display: flex;
    right: -310px;
    top: 30px;
    height: 300px;
    width: 300px;
}

.spotlight2 {
    position: relative;
    display: flex;
    top: 30px;
    right: -600px;
    height: 300px;
    width: 300px;
    transform: rotate(180deg);
}

.spotlightbase{
    position: relative;
    background: rgb(89, 89, 89);
    top: 270px;
    right: 300px;
    padding: 20px;
    height: 10px;
    width: 200px;
  }

  .spotlightbase2{
    position: relative;
    background: rgb(89, 89, 89);
    right: 335px;
    top: -85px;
    padding: 20px;
    height: 80px;
    width: 80px;
  }

  .spotlightbasev{
    position: relative;
    background: rgb(0, 0, 0);
    top: 280px;
    right: 375px;
    padding: 20px;
    height: 10px;
    width: 200px;
  }

  .spotlightbase2v{
    position: relative;
    background: rgb(0, 0, 0);
    top: -83px;
    right: 447px;
    padding: 20px;
    height: 65px;
    width: 200px;
  }

  .spotlightbase2v2{
    position: relative;
    color: rgb(86, 86, 86);
    background: rgb(86, 86, 86);
    top: -85px;
    right: 587px;
    padding: 20px;
    height: 5px;
    width: 200px;
  }

  .spotlightbase2v3{
    position: relative;
    background: rgb(6, 6, 6);
    top: -95px;
    right: 762px;
    padding: 20px;
    height: 5px;
    width: 200px;
  }

.projectspotlight {
    position: relative;
    display: flex;
    right: -490px;
    height: 400px;
    width: 300px;
}

.projectspotlight2 {
    position: relative;
    display: flex;
    right: -420px;
    height: 400px;
    width: 300px;
    transform: rotate(180deg);
}

.projectbase{
    position: relative;
    color:rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(93, 93, 93);
    border-width: 10px;
    top: 360px;
    right: 380px;
    height: 60px;
    width: 200px;
}

.projectbase2{
    position: relative;
    color: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(93, 93, 93);
    border-width: 10px;
    top: -38px;
    right: 380px;
    height: 60px;
    width: 200px;
}

.aboutpic {
    position: relative;
    height: 225px;
    width: 225px;
    border-radius: 35px;
    top: -280px;
}

.aboutframe {
    position: relative;
    background-color:rgb(246, 6, 98); /* For browsers that do not support gradients */
    background-image: linear-gradient(120deg, rgb(246, 6, 98), rgb(255, 176, 4));
    transform: rotate(45deg);
    right: -150px;
    padding: 20px;
    height: 300px;
    width: 300px;
}

.contactframe{
    position: relative;
    color:white;
    background-color:rgb(255, 0, 89);
    text-align: center;
    font-size: 24px;
    padding: 20px;
    border-radius: 50%;
}

.contactgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    grid-gap: 10px;
}

.contacttxt{
    position: relative;
    color: black;
    top: -110px;
    font-size:x-large;
}

.contactposition{
    position: relative;
    top: -30px;
}

.contacttxt2 {
    color: white;
    font-size: larger;
}