.backcolor{
    position: relative;
    background-color: darkblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(darkblue, blueviolet);
    height: 100%;
}

.colorwhite{
    color:white;
}

.tablecolor{
    background-color: yellow;
    border-style: solid;
    border-color: orange;
    border-width: 10px;
}

.button1{
    color:white;
    background-color:blue;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

.button2{
    color:white;
    background-color:rgb(54, 215, 54);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

.button3{
    color:white;
    background-color:crimson;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

.button4{
    color:white;
    background-color:rgb(202, 31, 171);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 20px;
    border-radius: 50%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.aboutcolor{
    background-color:aqua; /* For browsers that do not support gradients */
    background-image: linear-gradient(blue, rgb(13, 226, 133));
    border-radius: 15%;
    height: 200px;
    width: 750px;
}

.tableproject{
    background-color: yellow;
    height: 500px;
    width: 650px;
    border-style: solid;
    border-color:darkorange;
    border-width: 30px; 
}

.element {
    position: relative;
    background: darkorange;
    margin: 20px auto;
    padding: 20px;
    height: 700px;
    width: 650px;
  }

.element1 {
    position: relative;
    background: yellow;
    margin: 20px auto;
    padding: 20px;
    height: 650px;
    width: 575px;
}

.pdivider {
    position: relative;
    background: black;
    margin: 10px auto;
    padding: 10px;
    height: 5px;
    width: 500px;   
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    grid-gap: 4px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 85%;
    grid-gap: 4px;
}

.block {
    position: relative;
    background: darkorange;
    margin: 20px auto;
    padding: 20px;
    height: 250px;
    width: 450px;
  }

.block1 {
    position: relative;
    background: yellow;
    margin: 20px auto;
    padding: 20px;
    height: 150px;
    width: 400px;
}

.abouttable{
    width: 75%;
    border-spacing: 50px;
}

.aboutt1 {
    position: relative;
    background-color:rgb(246, 6, 98); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(246, 6, 98), rgb(247, 227, 12));
    margin: 10px auto;
    padding: 20px;
    height: 250px;
    width: 400px;   
}

.aboutt2 {
    position: relative;
    background-color:rgb(246, 62, 6); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(246, 62, 6), rgb(247, 227, 12));
    margin: 10px auto;
    padding: 20px;
    height: 250px;
    width: 415px;
}

.aboutt3 {
    position: relative;
    background-color:rgb(246, 134, 6); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(246, 134, 6), rgb(247, 227, 12));
    margin: 10px auto;
    padding: 20px;
    height: 250px;
    width: 430px;
}